{{define "pageTitle"}}{{.pageTitle}}{{end}}
{{define "content"}}
<h1><a href="/todos">Todos</a></h1>
<ul>
    <li><a href="/todos/create">Create new</a></li>
    <li><a href="/todos/completed">Show completed</a></li>
    <li><a href="/todos/pending">Show pending</a></li>
</ul>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Todo</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{range .todos}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Name}}</td>
            <td>{{if .Completed}}Completed{{else}}Pending{{end}}</td>
            <td><a href="/todos/{{.Id}}">View</a></td>
        </tr>
        {{else}}
        <tr>
            <td colspan="4">No todos yet!</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}